<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale =1.0" />
    <title>Burgers Devour Menu</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Monoton|Roboto|Teko|Yanone+Kaffeesatz" rel="stylesheet"/>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- My CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <div class="row">
            <div id="header" class="container col-xs-12 text-center">
                <img src="/assets/img/hamburger.png" id="deluxe_burger">
            </div>
        </div>
    {{{ body }}}
    </div>
</body>
</html>